[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django = "==4.1"
markdown = "*"
django-filter = "*"
yapf = "*"
mysqlclient = "*"
djangorestframework-jsonapi = {extras = ["django-filter"], version = "*"}
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
start = "python manage.py runserver"
makemigrations = "python manage.py makemigrations tasks"
migrate = "python manage.py migrate tasks"
